*{
    /*Para eliminar los boldes de la pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.agenda{
    width: 400px; /*Ancho*/
    background-color: rgba(12, 134, 114, 0.6);
    padding: 30px; /* No este pegado borde con el contenido*/
    margin: auto; /*Para centralizar el formulario*/
    margin-top: 100px; /* */
    border-radius: 4px;
    font-family: 'calibri';
    color:white;
}

.agenda h2{
    font-size: 25px; /*Tamaño*/
    margin-bottom: 20px; /**/
    text-align: center;

}

.control{
    width: 100%;
    background-color: #FFFFFF80; 
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 14px; /*Para que no esten pegados los campos*/
    border: 2px solid #ff851b;
    font-family: 'calibri';
    font-size: 18px; 
    color: black;
}

.controll{
    background-color: #FFFFFF80;
    padding: 10px; /**/
    border-radius: 4px;
    margin-bottom: 14px; /*Para que no esten pegados los campos*/
    border: 2px solid #ff851b; /*Para el grosor*/
    font-family: 'calibri'; /*fuente*/
    font-size: 18px; /*tamaño de fuente*/
    color: black;
}

.size{
    font-size: 18px; /*tamaño de fuente*/
}

.Form{
    font-weight: normal;
    font-family: sans-serif;
    color: #ff851b ;
    text-align: center;
    line-height: 40px;
    
    
}

.Form  span{
    color: black;
}

.agenda .boton{
    width: 100%;
    font-family: roboto;
    outline: none;
    background-color:  #ff851b;
    padding: 15px 0px;
    color: #fff;
    font-size: 16px;  
    border: none;  
    cursor: pointer;
}

.img{
    position: fixed;
    min-width: 100%;
    min-width: 100%;
    top : 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1 /*para que este por debajo de nuestra pagina  */
}


