body {
  font-family: "Montserrat", sans-serif;
  transition: 3s;
}

.login-container {
  margin-top: 10%;
  border: 1px solid #ccd1d1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 50%;
}

.ads {
  background-image: url(./_recursos_/login.jpg);
  background-size: cover;
  background-color: #82a7ec;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: rgb(16, 16, 15);
  padding: 15px;
  text-align: center;
}

.ads h1 {
  margin-top: 3%;
}

#fl {
  font-weight: 600;
}

#sl {
  font-weight: 100 !important;
}

.profile-img {
  text-align: center;
}

@keyframes mymove {
  from {
    border: 1px solid #f2f3f4;
  }
  to {
    border: 8px solid #f2f3f4;
  }
}

.login-form {
  padding: 15px;
}

.login-form h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-control {
  font-size: 14px;
}

.forget-password a {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}
