@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 60px;
}

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#content {
  margin-bottom: 25px;
}

.adsbygoogle {
  margin-bottom: 15px;
}

.footer-content {
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}
